

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:#fff !important;
}
.logo{text-align:center;padding-top:15px;}
.logo img{width:120px;}
.describe{text-align:center;color:gray;line-height:1.5;padding:20px 20px;margin-bottom:20px;}
.addVoteButton{height:50px;width:50px;background:#a28080;margin:0 auto;position:relative;z-index:2;}
.addVoteButton span{width:30px;height:8px;background:white;border-radius:5px;display:block;position:absolute;top:21px;left:10px;}
.addVoteButton span:nth-of-type(1){top:10px;left:21px;width:8px;height:30px;}



.vote-img-list{background:white;padding:10px 0;margin-bottom:10px;overflow-x:auto;}
.vote-img-list .vote-img-list-inner{}
.vote-img{text-align:center;width:200px;float:left;}
.vote-img span{line-height:30px;border-bottom:1px solid #aaa;padding:0 5px;}
.vote-img div{height:150px;overflow:hidden;text-align:center;}
.vote-img img{width:160px;}
.vote-img img:active{zoom:1.1;}

.sortTypeList{line-height:40px;overflow:hidden;padding:0 10px;}
.sortTypeList span{display:block;width:18%;text-align:center;float:left;}
.sortTypeList .spanActive{color:#a28080;}
.resultBox:after{background:none !important;}

.voteList{position:fixed;left:0;right:0;bottom:50px;top:140px;overflow:auto;background:white;}
.voteList div{line-height:70px;font-size:18px;padding:0 20px 0 70px;border-bottom:1px solid #eee;position:relative;}
.voteList div img{position:absolute;top:15px;left:20px;height:40px}


.actionSheetBtn{}
.actionSheetBtn img{ height:30px;vertical-align:sub;margin-right:10px;}

/*addVote*/
.addVoteForm{position:fixed;left:0;right:0;top:40px;bottom:135px;overflow:auto;}
.operationBtns{position:fixed;border-top:15px solid #e4e4e4;left:0;right:0;bottom:0;height:120px;background:#f8f8f8;z-index:10;}

.optionItemInput{position:relative;}
.optionItemAddButton{position:relative;height:44px;line-height:44px;text-align:right;color:#476faa;font-size:14px;padding-right:45px;border-bottom:15px solid #e4e4e4;}

.iconDelete{position:absolute;height:20px;width:20px;background:#d12b14;border-radius:50%;z-index:2;top:50%;margin-top:-10px;right:15px;}
.iconDelete:before{content:'';position:absolute;display:block;height:2px;width:12px;background:white;top:9px;left:4px;}
.iconAdd{position:absolute;height:20px;width:20px;background:#476faa;border-radius:50%;z-index:2;top:50%;margin-top:-10px;right:15px;}
.iconAdd:before{content:'';position:absolute;display:block;height:2px;width:12px;background:white;top:9px;left:4px;}
.iconAdd:after{content:'';position:absolute;display:block;height:12px;width:2px;background:white;top:4px;left:9px;}


/*myVote*/
.headImgBox{position:relative;padding:20px;}
.headImgBox .headImg{position:relative;display:block;height:150px;margin:0 auto;border-radius:50%;}
.headImgBox .affirm{position:absolute;right:20px;bottom:20px;height:25px;}


.my-accordion .am-accordion-item{margin-bottom:8px;}
.my-accordion .am-accordion-item .am-accordion-header i{display:none !important;}
.my-accordion .am-accordion-item .am-accordion-header img{position:absolute;right:10px;top:10px;height:25px;}


/*peronalInfo*/

.peronalInfoForm{position:fixed;left:0;right:0;top:40px;bottom:135px;overflow:auto;}
.peronalInfoForm input{text-align:right;color:gray !important;}












.am-list-item .am-list-line .am-list-extra{flex-basis: initial;}

.formBox{position:fixed;left:0;right:0;top:45px;bottom:135px;overflow:auto;}
.formBox .loginHeadImg{text-align:center;margin:20px 0;}
.formBox .loginOther{line-height:50px;text-align:right;color:gray;}
.formBox .loginOther a{color:gray;}

.unitRoomNum{overflow:hidden;}
.unitRoomNum input{text-align:center !important;}
.unitRoomNum .roomNum{padding-left:0 !important;}

.footer{height:50px;background:white;position:fixed;bottom:0;left:0;right:0;border-top:1px solid #ddd;}
.footerButton{width:25%;float:left;text-align:center;margin-top:5px;color:#666666;}
.footerButton img{height:22px;}
.footerButton_active{color:#18a3fe}

.mainBox{position:fixed;left:0;right:0;top:45px;bottom:50px;overflow:auto;}


.indexNotice{overflow:hidden;border:1px #ddd dashed;}
.indexNotice span{display:block;float:left;padding:0 5px;line-height:25px;background:#18a3fe;color:white;margin:10px;}
.indexNotice a{display:block;line-height:20px;padding:10px 5px;color:gray;padding-left:80px;}


.indexMenu{overflow:hidden;}
.indexMenu div{float:left;width:33.3%;text-align:center;padding:20px 0;color:#666666;}
.indexMenu div:active{background:#eeeeee;}
.indexMenu div img{width:50%;margin-bottom:5px;}


.tabMenu{overflow:hidden;}
.tabMenu div{float:left;line-height:50px;width:50%;text-align:center;font-size:14px;color:gray;}
.tabMenu div .tabActive{color:#333; border-bottom:1px solid #333;padding:5px 10px}

.listBox{position:absolute;top:0;right:0;bottom:0;left:0;overflow:auto;}
.listBox .item{overflow:hidden;border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding:10px;position:relative;}
.listBox .item:active{background:#f9f9f9;}
.listBox .item strong{color:#333;font-size:16px;display:block;line-height:25px;margin-bottom:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowra}
.listBox .item strong > span{font-weight:normal;font-size:12px;margin-left:5px;}
.listBox .item > span{color:#777;line-height:20px;height:20px;font-size:12px;display:block;float:left;width:50%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.listBox .item .circleText{font-size:12px;position:absolute;color:#666;height:50px;line-height:50px;width:50px;border:1px dashed #444;bottom:15px;right:10px;border-radius:50%;text-align:center;}
.listBox .item .circleText:before{content:'';position:absolute;height:44px;width:44px;border:1px dashed #999;bottom:2px;right:2px;border-radius:50%;}
.listBox .listLoading{text-align:center;line-height:40px;background:#fafafa;}

.am-button:active{background:#f8f8f8}

.disabledInputDetail{}
.disabledInputDetail *{color:black !important;}
.disabledInputDetail input{text-align:;}














